.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: var(--cols) / var(--rows);
}

.cell {
  aspect-ratio: 1 / 1;
}

.cell, .grid {
  border: 1px solid black;
  border-collapse: collapse;
}

.cell-hl, .piece-hl {
  background-color: yellow;
}
